
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
    <div class="form singin">
      <div class="form-group">
        <label for="">Email</label>
        <input [(ngModel)]="email"  type="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input [(ngModel)]="password" type="password" class="form-control">
      </div>
      <div class="form-group">
        <button (click)="signIn()" class="btn btn-success  btn-primary ">Signin</button>
      </div>
      <div class="register">
        <hr>
        <label>Dont Have a Accounnt?</label>
        <button (click)="signup()" class="btn btn-light  btn-primary ">Create Here</button>
      </div>


    </div>
  </div>
  <div class="col-md-4"></div>
</div>
