

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">FootBall Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/show-shedule/">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/show-score">Live Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/show-teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/show-pointtable">PointTable</a>
        </li>

      </ul>
      <div class="my-2 my-lg-0">
        <button (click)="onLogIn()" class="btn btn-info my-2 my-sm-0">LogIn</button>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <!--
      child level routing
      - 
    -->
    <router-outlet></router-outlet>
  </div>
  
  <div class="container">
  
    <router-outlet>


    </router-outlet>
  </div>